<html lang="zh-HK" prefix="og: http://ogp.me/ns#">
  <head>
      <title>{{ metadata.title }}</title>
  </head>
  <body>
     <h1>{{ metadata.title }}</h1>
     <p>{{ metadata.description }}</p>
  </body>
</html>
